@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@700&display=swap");
/*General*/
:root {
  --link-color: #ffffff;
  --link-active-color: #ff6c00;
  --text-font-family: "Open Sans", sans-serif;
  --heading-font-family: "Raleway", sans-serif;
  --text-color: #9da4bd;
  --text-alternate-color: #303030;
  --heading-color: #ffffff;
  --p-color: #555555;
}

body {
  font-family: var(--text-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}
/*Color section*/
.black {
  color: var(--text-alternate-color);
}
.white {
  color: var(--heading-color);
}
.grey {
  color: var(--text-color);
}

.p {
  color: var(--p-color);
}
ul {
  list-style-type: none;
}
/*Global header*/
.global-header-aside {
  background: white;
}
.global-header {
  background: #363636;
  font-size: 12px;
  padding: 40px 55px 40px 100 px;
}
.global-header .main-navigation {
  display: flex;
  justify-content: space-between;
}
.global-header .main-navigation ul {
  display: flex;
}
.global-header .main-navigation ul li + li {
  margin-left: 40px;
}
.global-header a {
  color: var(--link-color);
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
}
.global-header .main-navigation a,
.global-header .main-navigation a:visited {
  letter-spacing: 0.1em;
}

.global-header a.active {
  color: var(--link-active-color);
}
.global-header a.social-links {
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;
}
.global-header .main-navigation .phone-number {
  text-transform: uppercase;
}
.global-header button {
  letter-spacing: 0.09em;
}
.global-header a.black {
  color: var(--text-alternate-color);
}
/*Section(principals)*/
.section {
  background-color: #363636;
  color: var(--text-color);
  letter-spacing: 0.02em;
  padding: 130px 55px;
}
.section-alternate h1,
.section-alternate h2,
.section-alternate h3 {
  color: var(--text-alternate-color);
}

.section-sub-hading {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.section-heading {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 85px;
  letter-spacing: 0.05em;
  color: var(--heading-color);
}
.section-sub-hading {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
/*Hero Section*/
.hero-hading {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 85px;
  letter-spacing: 0.05em;
  color: var(--heading-color);
}
.hero-section {
  background: #363636;
  padding-top: 40px;
  padding-bottom: 40px;
}
/*About Section*/
.about-section-up {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--text-alternate-color);
}
.about-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: var(--text-alternate-color);
}
/*Services and Prices Section*/

.services-up {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--text-color);
}
.services-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
}
/*Old School Section*/
.old-school-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
}
.old-school-description {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: var(--p-color);
}
.old-school-numbers {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.05em;
}
.old-school-number-description {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
}
/*Our Barbers Section*/
.our-barbers-up {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--text-alternate-color);
}
.our-barbers-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
}
.our-barbers-name {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-alternate-color);
}
.our-barbers-job {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--link-active-color);
}
/*Motto Section*/
.motto-up {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
/*Contacts Section*/
.contacts-section-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
}
.contacts-adress {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration-line: none;
}
.contacts-section a.span.mail {
  text-decoration-line: underline;
}
.contacts-schedulel {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.contacts-function-hour {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
/*Book a Service Section*/
.book-a-service-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
}
